body {
    background-image: url('https://img.freepik.com/free-vector/red-movie-theater-seats-with-curtains-background_1017-38388.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif;
    color: white;
}

h1 {
    text-align: center;
    color: yellow;
    padding: 30px;
}

form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#searchButton {
    color: yellow;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    font-weight: bold;
}

table, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 10px;
    border-radius: 8px;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
}

#pic {
    font-style: italic;
}

#moviePic {
    display: block;
}

#today {
    vertical-align: bottom;
    font-size: small;
    color: yellow;
}

#startTime {
    font-size: 175%;
    font-weight: bold;
    vertical-align: top; 
    color: yellow;
}

#title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    vertical-align: bottom;
    color: yellow;
}

#auditorium {
    vertical-align: top;    
    color: yellow;
}

#duration {
    padding: 5px;
    font-size: small;
    color: yellow;
}

a:link, a:hover, a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: "Trebuchet MS", sans-serif; 
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: yellow;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

#scroll:hover {
    border: 3px solid yellow;
}

#cinemaList {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    padding: 20px;
    border-radius: 10px;
    color: yellow;
}

#areaText, #areaLabel, #searchLabel {
    color: yellow;
}

#search {
    color: black !important;
}


form[name="theatreList"] datalist option {
    color: black;
}


form[name="theatreList"] input {
    color: yellow;
}

form[name="theatreList"] input#cinema {
    color: black !important;
}


/* Change color of dropdown arrow */
select {
    color: black; /* Change the text color */
    background-color: transparent; /* Make the background transparent */
    border: 1px solid yellow; /* Add border style */
    /* Add any other styles you may want for the select element */
}

datalist option {
    color: black;
}

